<div class = "nav-div">
  <div class = "container">
    <nav class = "navbar mx-auto navbar-expand-md">
      <a class = "navbar-brand" href = "/">Zach Richards</a>
      <button class="navbar-toggler navbar-light bg-light" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navbarToggler">
        <ul class = "navbar-nav ml-auto">
          <li class = "nav-item">
            <a class="nav-link" href="#about">ABOUT</a>
          </li>
          <li class = "nav-item">
            <a class="nav-link" href="#portfolio">PORTFOLIO</a>
          </li>
          <li class = "nav-item" id = "nav-item1">
            <a class="nav-link" href="#contact">CONTACT</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>
