<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Zach Richards | Portfolio</title>
  <meta name="description" content="Portfolio of Zach Richards - Web Developer with skills in HTML CSS JS Bootstrap jQuery Node.js">
  <meta name="robots" content="follow" />
  <link rel="icon" href="/public/favicon.ico" type="image/x-icon">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link href="/public/styles.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <div class="container-fluid ">
    <%- include partials/nav.ejs %>

      <div class="mx-auto" id="main-content">
        <div class="row container mx-auto" id="about">
          <div class="col-lg-8 col-md-12">
            <h2 id="about-head">Full-Stack Developer</h2>
            <p id="about-p">Skills: HTML5 CSS Javascript jQuery Bootstrap Node.js </p>
          </div>
          <div class="col-lg-4 col-md-12">
            <img id="avatar" src="/public/images/myself.jpg" alt="My Picture(Zach Richards)">
          </div>
        </div>

        <div class="row container mx-auto" id="about-bottom">
          <div class="col-lg-8 col-md-12">
            <h2 class="text-center">ABOUT</h2>
            <div class="sep-line text-center"></div>
            <p class="text-center" id="about-bottom-p">Hi, my name is Zach Richards, I am a Web Developer from St. Louis, Missouri. My passion is making the web a more functional and beautiful place.</p>
          </div>
        </div>

        <div class="row container mx-auto" id="portfolio">
          <div class="col-lg-12">
            <h2 class="text-center" id="port-head">PORTFOLIO</h2>
            <div class="sep-line text-center" id="sep-port"></div>
          </div>
          <div class="col-lg-6 col-md-12">
            <div class="text-center">
              <a href="http://arbitragetokens.com/"><img class = "portfolio-img mx-auto" src = "/public/images/at.png" alt = "Arbitrage Tokens Website"></a>
            </div>
          </div>
          <div class="col-lg-6 col-md-12">
            <div class="text-center">
              <a href="https://codepen.io/zachricha/full/WdvaQa/"><img class = "portfolio-img mx-auto" src = "/public/images/ws.png" alt = "Wiki Search"></a>
            </div>
          </div>

          <div class="col-lg-6 col-md-12">
            <div class="text-center">
              <a href="https://codepen.io/zachricha/full/VyPxVM/"><img class = "portfolio-img mx-auto" src = "/public/images/ts.png" alt = "Twitch Streamers Online/Offline"></a>
            </div>
          </div>
          <div class="col-lg-6 col-md-12">
            <div class="text-center box-img">
              <a href="https://codepen.io/zachricha/full/pdMQYY/"><img class = "portfolio-img mx-auto" src = "/public/images/rq.png" alt = "Random Quote Generator"></a>
            </div>
          </div>
        </div>

        <div class="row container mx-auto" id="contact">
          <div class="col-lg-12">
            <h2 class="text-center" id="contact-head">Contact Me</h2>
            <div class="sep-line"></div>
          </div>
          <form class="mx-auto" action="send" method="POST">
            <div class="form-group text-center">
              <input id="name-id" type="text" name="name" placeholder="Name" required>
            </div>
            <div class="form-group text-center">
              <input type="email" name="email" placeholder="Email address" required>
            </div>
            <div class="form-group text-center">
              <input type="phone" name="phone" placeholder="Phone">
            </div>
            <div class="form-group text-center">
              <textarea type="message" name="message" placeholder="Message" required></textarea>
            </div>
            <div class="text-center">
              <input id="submit" type="submit" value="Send">
            </div>
          </form>
        </div>

      </div>

      <%- include partials/footer.ejs %>

        <% if(emailSuccess === true) { %>
          <div class="alert alert-success alert-dismissible fade show fixed-bottom alert-style" role="alert">
            <strong>Success!</strong> Email has been sent.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span></button>
          </div>
          <% } else if(emailSuccess === false) { %>
            <div class="alert alert-danger alert-dismissible fade show fixed-bottom alert-style" role="alert">
              <strong>Error!</strong> Email failed to send. Try again.
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span></button>
            </div>
            <% } %>
  </div>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>